# Env's
.env
.venv

# CodeQL related
.codeql
.cache
*.testproj/
*.actual
*.class
*/*.class
# Cloned repository of codeql
/codeql

# Test files / folders
test.ql
test-*.ql
**/testing/**
**/*.testproj/*
*/test-output.txt

# Temporary files
ql/hotspots/output/**

# Cache
**/__pycache__/

.DS_Store
