name: CodeQL Update Release

on:
  workflow_dispatch:
    inputs:
      mode:
        description: "Please select the bump version"
        required: true
        type: choice
        default: "patch"
        options:
          - patch
          - minor
          - major

jobs:
  update-release:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: Get Token
        id: get_workflow_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.SECLABS_APP_ID }}
          private-key: ${{ secrets.SECLABS_APP_KEY }}

      - name: "Patch Release Me"
        uses: 42ByteLabs/patch-release-me@1a840ec5f538188590b75b19e1c300c7d036bcc8 # 0.6.2
        with:
          # Bump (patch)
          mode: ${{ inputs.mode }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ steps.get_workflow_token.outputs.token }}
          title: "Chore: Auto Update new Release"
          commit-message: "[chore]: Auto Patch new Release"
          body: |
            This is automatically created as a chore to patch and update the release.
          branch: "auto-patch-release"
          labels: "version"
          delete-branch: true
